<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Bättre uppvärmning med panna från Fröling</h3>
        <p class="lead">På den här sidan presenterar vi ett urval av värmepannor från Fröling, tillsammans med produktspecifikationer. För att se hela Frölings utbud, besök <a href="https://www.froeling.com/sv-se" target="_blank">
    Frölings officiella webbplats (öppnas i ny flik)
  </a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_t4e-flis.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Flispanna T4e</span>
                    <p>Text</p>
                    <p><a href src="/assets/documents/froeling-t4e.pdf">Ladda ned produktdatablad T4E</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s1-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S1 Turbo</span>
                    <p>Text</p>
                    <p><a href src="/assets/documents/froeling-s1-turbo.pdf">Ladda ned produktdatablad S1 Turbo</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s3-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S3 Turbo</span>
                    <p>Text</p>
                    <p><a href src="/assets/documents/froeling-s3-turbo.pdf">Ladda ned produktdatablad S3 Turbo</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s4-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S4 Turbo</span>
                    <p>Med sin robusta konstruktion, långa livslängd och automatisk tändning som tillval är S4 Turbo ett säkert och bekvämt val!</p>
                    <p><a href src="/assets/documents/froeling-s4-turbo.pdf">Ladda ned produktdatablad S4 Turbo</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_pe1-pelletspanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Pelletspanna PE1</span>
                    <p>Text</p>
                    <p><a href src="/assets/documents/froeling-pe1.pdf">Ladda ned produktdatablad PE1</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>