<div class="team-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Fler produkter från Fröling</h3>
        <p class="lead">Text</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5 mx-auto">
        <div class="card card-profile" data-background="full">
          <a href="javascript:;">
            <img class="img img-raised rounded" src="{{ '/assets/img/froeling/froeling_ackumulatorsystem.webp' | relative_url }}">
          </a>
          <div class="card-body">
            <h4 class="display-4">Ackumulatorsystem</h4>
            <p>Text</p>
            <p><a href src="/assets/documents/froeling-ackumulatortanksystem.pdf">Ladda ned produktdatablad för ackumulatortanksystem</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 mx-auto">
        <div class="card card-profile" data-background="full">
          <a href="javascript:;">
            <img class="img img-raised rounded" src="{{ '/assets/img/froeling/froeling_bunker-filling-system.webp' | relative_url }}">
          </a>
          <div class="card-body">
            <h4 class="display-4">Bunkerfyllningssystem</h4>
            <p>Text</p>
            <p><a href src="/assets/documents/froeling-bunker-filling-systems.pdf">Ladda ned produktdatablad för bunkerfyllningssystem för flis</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>