<div class="team-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Fler produkter från Fröling</h3>
        <p class="lead">Frölings systemlösningar sträcker sig längre än själva pannan. Vi hjälper dig till ett komplett värmesystem optimerat för driftsäkerhet, effektivitet och lång livslängd!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-12 mx-auto">
        <div class="card card-profile" data-background="full">
          <a href="javascript:;">
            <img class="img img-raised rounded"
              src="{{ '/assets/img/froeling/froeling_ackumulatorsystem.webp' | relative_url }}">
          </a>
          <div class="card-image">&nbsp;</div>
          <div class="card-body">
            <h4 class="display-4">Ackumulator&shy;system</h4>
            <p>Att komplettera vedpannan med en ackumulatortank har många fördelar, så som längre påfyllningsintervall och lägre bränsleförbrukning. Frölings skikttankar finns i flera olika storlekar.</p>
            <p>
              <a href="/assets/documents/froeling-ackumulatortanksystem.pdf" target="_blank">
              <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                Produktdatablad, ackumulatortanksystem
              </a>
            </p>
            <p>    
              <a href="https://www.froeling.com/sv-se/produkter/ackumulatortanksystem" target="_blank">
              <img class="icon icon-sm" src="{{ '/assets/img/icons/link-icon.svg' | relative_url }}">
                  Läs mer om tankar hos Fröling</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 mx-auto">
        <div class="card card-profile" data-background="full">
          <a href="javascript:;">
            <img class="img img-raised rounded"
              src="{{ '/assets/img/froeling/froeling_bunker-filling-system.webp' | relative_url }}">
          </a>
          <div class="card-image">&nbsp;</div>
          <div class="card-body">
            <h4 class="display-4">Bunkerfyllnings&shy;system</h4>
            <p>Frölings bunkerfyllningsskruv är smidig för att fylla bunkrar under marken. Bränslet transporteras in i lagringsutrymmet med hjälp av bunkerfyllningsskruven, via en tipptratt placerad utanför.</p>
            <p>
              <a href="/assets/documents/froeling-bunker-filling-systems.pdf" target="_blank">
                <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                Produktdatablad, bunkerfyllningssystem
              </a>
            </p>
            <p>    
              <a href="https://www.froeling.com/sv-se/produkter/lagerraum-befuellsysteme" target="_blank">
              <img class="icon icon-sm" src="{{ '/assets/img/icons/link-icon.svg' | relative_url }}">
                  Läs mer om systemen hos Fröling</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>