<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-5 p-5">
          <div class="p-4">
            <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/jonas-lonnblad-portratt-1.webp' | relative_url }}" alt="First slide">
          </div>
        </div>
        <div class="col-md-7">
          <div class="wrapper p-md-0">
            <h3 class="card-title display-3">Om Jonas</h3>
            <div class="lead">
              <p>Jag har drivit Energipartner Åland Ab sedan 2015 och trivs med att vara min egen chef och arbeta nära mina kunder. Hållbarhet och långsiktighet är viktiga ledord för mig. Därför kör jag en eldriven bil i jobbet och bygger gärna upp samarbeten som håller över tid. </p>
              <p><strong>Som enmansföretagare kan jag sätta min kund i fokus på ett helt annat sätt än de stora företagen.</strong> Hos mig får du en skräddarsydd och flexibel lösning. Dessutom kan jag finnas med som rådgivare och hjälp vid uppföljning, även långt efter att allt är installerat och klart. </p> 
              <h4>Mångårig erfarenhet och bred kompetens</h4>
              <p>
                Jag gick till sjöss som maskinmästare men efter en tid gick jag i land igen. Sedan år xxxx har jag arbetat med pannor och värmesystem av olika slag. Jag är en av få personer i Finland med behörighet för driftövervakning av ångpannor. 
              </p>
              <p>
                Min breda kompetens inom ventilation, värme och kyla har gett mig flera ben att stå på. Utöver återförsäljarverksamheten med Frölings värmepannor hjälper jag på konsultbasis industriföretag att energieffektivisera och uppgradera sina lösningar.
              </p>
              <p><strong>Har du ett projekt du vill diskutera?</strong> <a href="/kontakt/">Kontakta mig</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>