<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Bättre uppvärmning med panna från Fröling</h3>
        <p class="lead">På den här sidan presenterar vi ett urval av värmepannor från Fröling, tillsammans med produktspecifikationer. För att se hela Frölings utbud, besök <a href="https://www.froeling.com/sv-se" target="_blank">
    Frölings officiella webbplats (öppnas i ny flik)
  </a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_t4e-flis.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Flispanna T4e</span>
                    <p>
                      Flispannan T4e har höga verkningsgrader – upp till 93 procent – samtidigt som dess utsläpp är mycket låga. Pannan har fått utmärkelsen EnergieGenie, som delas ut till nya produkter enligt kriterier som rör innovation, energibesparing och nytänkande.
                    </p>
                    <p>
                      <a href="/assets/documents/froeling-t4e.pdf">
                        <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                        Ladda ned produktdatablad för T4E</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s1-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S1 Turbo</span>
                    <p>Med S1 Turbo får du hög verkningsgrad och långa påfyllningsintervall. En särskild funktion för tilluftsreglering låter dig stänga påfyllningsluckan efter bara en kort stund vilket gör pannan smidig att använda.</p>
                    <p>
                      <a href="/assets/documents/froeling-s1-turbo.pdf">
                        <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                        Ladda ned produktdatablad för S1 Turbo</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s3-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S3 Turbo</span>
                    <p>S3 Turbo är en prisvärd, modern vedpanna med ett djup på 56 centimeter. Välj mellan effekterna 20, 30, 40 och 45 kW.</p>
                    <p>
                      <a href="/assets/documents/froeling-s3-turbo.pdf">
                        <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                        Ladda ned produktdatablad för S3 Turbo</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_s4-turbo-vedpanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Vedpanna S4 Turbo</span>
                    <p>Med sin robusta konstruktion, långa livslängd och automatisk tändning som tillval är S4 Turbo ett säkert och bekvämt val!</p>
                    <p>
                      <a href="/assets/documents/froeling-s4-turbo.pdf">
                        <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                        Ladda ned produktdatablad för S4 Turbo</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/froeling/froeling_pe1-pelletspanna.webp' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Pelletspanna PE1</span>
                    <p>
                      Frölings pelletspanna PE1 passar särskilt bra för lågenergi- och passivhus med sin höga energieffektivitet. 
                    </p>
                    <p>
                      Med tillvalen beredarblock (för varmvattenuppvärmning) samt hydraulblock med värmekretspumpar, värmekretsblandare och beredarladdning får du en kompakt helhetslösning som fungerar även i trånga utrymmen.
                    </p>
                    <p>
                      <a href="/assets/documents/froeling-pe1.pdf">
                        <img class="icon icon-sm" src="{{ '/assets/img/icons/pdf-icon.svg' | relative_url }}">
                        Ladda ned produktdatablad för PE1</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>