---
title: Hem
layout: default
description: Energipartner – Värme att lita på
featured_image: /assets/img/social.jpg

header:
  background_image: /assets/img/ill/p2.webp

kundcase:
  - title: "KUNDCASE: Storgårdsägg"
    description: "När Storgårdsägg byggde ut verksamheten 2024 räckte det dåvarande värmesystemet inte längre till. Vi planerade och projekterade ett nytt, med utvalda produkter från Fröling."
    link: "#"
    link_text: "Läs mer"
    image: "/assets/img/storgards-agg.webp"
---

<!--Replace this page with your landing page content -->
{% if site.data.settings.home_settings.theme == "landing" %}
  {% include home.html %}

  {% include blogsHome.html %}
{% endif %}

{% if site.data.settings.home_settings.theme == "blog" %}
  <!-- Or turn your homepage into just a blog -->
  {% if site.data.settings.blog_settings.theme == "narrow" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog main-raised">
          {% include blogsHome.html %}
      </section>

  {% endif %}

  {% if site.data.settings.blog_settings.theme == "basic" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog mt-5">
          {% include blogsHome.html %}
      </section>

  {% endif %}

  {% if site.data.settings.blog_settings.theme == "grid" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog">
          {% include blogsHome.html %}
      </section>

  {% endif %}

{% endif %}


