---
title: Hem
layout: default
description: Energipartner – Värme att lita på
featured_image: /assets/img/social.png

header:
  background_image: /assets/img/vedfamn-snedskuren.webp

kundcase:
  - title: "Fröling blev valet när Storgårdsägg byggde ut och om"
    description: "När Storgårdsägg byggde ut verksamheten 2024 räckte det dåvarande värmesystemet inte längre till. Vi planerade och projekterade ett nytt, med utvalda produkter från Fröling."
    link: "/storgardsagg/"
    link_text: "Läs mer"
    image: "/assets/img/cases/storgardsagg-sq.webp"
    icon: "/assets/img/icons/case-ftg.svg"
    show_icon: false
  - title: "Case: Nils Mörn"
    description: "Text"
    link: "/nils-morn/"
    link_text: "Läs mer"
    image: "/assets/img/cases/nils-morn-sq.webp"  
    icon: "/assets/img/icons/case-priv.svg"
    show_icon: false
---

<!--Replace this page with your landing page content -->
{% if site.data.settings.home_settings.theme == "landing" %}
  {% include home.html %}

  {% include blogsHome.html %}
{% endif %}

{% if site.data.settings.home_settings.theme == "blog" %}
  <!-- Or turn your homepage into just a blog -->
  {% if site.data.settings.blog_settings.theme == "narrow" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog main-raised">
          {% include blogsHome.html %}
      </section>

  {% endif %}

  {% if site.data.settings.blog_settings.theme == "basic" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog mt-5">
          {% include blogsHome.html %}
      </section>

  {% endif %}

  {% if site.data.settings.blog_settings.theme == "grid" %}
  <div class="page-header page-header-small bg-secondary fullWidth ">
      <div class="container contentWrapper">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center pt-4">
            <h2 class="display-2">Blog</h2>
            <h2 class="lead pl-5 pr-5 pb-3 text-center">The latest posts from our blog</h2>
          </div>
        </div>
      </div>
    </div>

      <section class="blog">
          {% include blogsHome.html %}
      </section>

  {% endif %}

{% endif %}


