<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.webp' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Energipartner Åland Ab</h3>
          <p class="lead mt-0">Vi är din lokala återförsäljare av Frölings värmepannor på Åland. Trä är en lokal råvara med relativt låg klimatpåverkan. Hos oss får du hjälp att välja pannan som passar just ditt hem eller din verksamhet!</p>
          <br>
          <div class="buttons">
            <a href="/produkter/" class="btn btn-primary">
              Om Frölings värmepannor
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
  
  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-html5 text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">KUNDCASE: Storgårdsägg</h5>
              <p>När Storgårdsägg byggde ut verksamheten 2024 räckte det dåvarande värmesystemet inte längre till. Vi planerade och projekterade ett nytt, med utvalda produkter från Fröling.</p>
              <a href="#" class="text-info">Läs mer</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10 mx-md-auto">
          <img class="ml-lg-5" src="{{ '/assets/img/storgards-agg.webp' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">Steg för steg</span>
          <h3 class="display-3">Så arbetar vi</h3>
          <p class="lead">Vi hjälper dig att gå från idé och behov till en färdig lösning – med värmepanna från Fröling och lokal expertis på Åland!</p>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Möte eller samtal</h6>
            <p class="description opacity-8">För att förstå vad du behöver börjar vi med att lyssna, för att sedan ge råd och rekommendationer.</p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
              <i class="ni ni-atom"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Titt på plats</h6>
            <p class="description opacity-8">Inga förutsättningar är de andra lika, därför besöker vi dig för att se vad som kommer fungera tryggt i praktiken.</p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
              <i class="ni ni-world"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Kalkyl och ritning</h6>
            <p class="description opacity-8">Med all information på bordet räknar vi på saken för att hitta en pålitlig och effektiv värmelösning för just dig.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
              <i class="ni ni-atom"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Installation</h6>
            <p class="description opacity-8">När det är dags att installera ditt nya system väljer du själv entreprenör för jobbet, eller låter oss sköta det.</p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
              <i class="ni ni-world"></i>
            </div>
            <h6 class="info-title text-uppercase text-primary">Driftsättning och service</h6>
            <p class="description opacity-8">Vi driftsätter värmepannan och kontrollerar så att allt fungerar som det ska samt underhåller över tid.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
