<div class="contactus-3 col-md-8 mx-auto text-center">
  <div class="page-header">
    <img class="bg-image" src="/assets/img/energipartner-logo-50-procent.webp" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-center text-center mb-5">
        <div class="p-4">
          <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/jonas-lonnblad-portratt-1.webp' | relative_url }}" alt="First slide">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h3>Jonas Lönnblad</h3>
        <h3 class="lead">Behöver du en ny, effektiv värmepanna och gillar biobränsle? Kontakta mig så hittar vi en lösning som passar just dig!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-lg">
              {% include energipartner/svg-icon.html icon="postadress.svg" %}
          </div>
          <h4 class="info-title">Postadress</h4>
          <p class="description px-0">Rangsbyvägen 164, 22430 Saltvik</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-lg">
            {% include energipartner/svg-icon.html icon="mejl.svg" %}
          </div>
          <h4 class="info-title">E-post</h4>
          <p class="description px-0">jonas.lonnblad@energipartner.ax</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-lg">
            {% include energipartner/svg-icon.html icon="telefon.svg" %}
          </div>
          <h4 class="info-title">Telefon</h4>
          <p class="description px-0">+358 40 58 43564</p>
        </div>
      </div>
    </div>
  </div>
</div>