<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <img src="/assets/img/brand/energipartner-logo.svg" />
          <p class="lead mt-0">Vi är din lokala återförsäljare av Frölings värmepannor på Åland. Hos oss får du hjälp att välja och installera ett värmesystem med biobränsle, som passar just ditt hem eller din
            verksamhet!</p>
          <br>
          <div class="buttons">
            <a href="/produkter/" class="btn btn-primary">
              Om Frölings värmepannor
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>