<div class="section features-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">Steg för steg</span>
        <h3 class="display-3">Så arbetar vi</h3>
        <p class="lead">Vi hjälper dig att gå från idé och behov till en färdig lösning – med värmepanna från Fröling
          och lokal expertis på Åland!</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg">
            <object data="{{ '/assets/img/icons/1-samtal.svg' | relative_url }}" type="image/svg+xml"></object>
          </div>
          <h6 class="info-title text-uppercase text-primary">Möte eller samtal</h6>
          <p class="description opacity-8">För att förstå vad du behöver börjar vi med att lyssna, för att sedan ge råd
            och rekommendationer.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg">
            <object data="{{ '/assets/img/icons/2-plats.svg' | relative_url }}" type="image/svg+xml"></object>
          </div>
          <h6 class="info-title text-uppercase text-primary">Titt på plats</h6>
          <p class="description opacity-8">Inga förutsättningar är de andra lika, därför besöker vi dig för att se vad
            som kommer fungera tryggt i praktiken.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg">
            <object data="{{ '/assets/img/icons/3-rakna.svg' | relative_url }}" type="image/svg+xml"></object>
          </div>
          <h6 class="info-title text-uppercase text-primary">Kalkyl och ritning</h6>
          <p class="description opacity-8">Med all information på bordet räknar vi på saken för att hitta en pålitlig
            och effektiv värmelösning för just dig.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg">
            <object data="{{ '/assets/img/icons/4-installera.svg' | relative_url }}" type="image/svg+xml"></object>
          </div>
          <h6 class="info-title text-uppercase text-primary">Installation</h6>
          <p class="description opacity-8">När det är dags att installera ditt nya system väljer du själv entreprenör
            för jobbet, eller låter oss sköta det.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg">
            <object data="{{ '/assets/img/icons/5-service.svg' | relative_url }}" type="image/svg+xml"></object>
          </div>
          <h6 class="info-title text-uppercase text-primary">Driftsättning och service</h6>
          <p class="description opacity-8">Vi driftsätter värmepannan och kontrollerar så att allt fungerar som det ska
            samt underhåller över tid.</p>
        </div>
      </div>
    </div>

  </div>
</div>