@include media-breakpoint-up(md) {

  // Kastar om ordning på kundcase-text och -bild så de kommer med bilden varannan till höger och varannan till vänster om texten.
  .kundcases {
    .kundcase-image {
      &.even {
        order: 3;
      }

      &.odd {
        order: 1;
      }
    }

    .kundcase-information {
      order: 2;
    }
  }
}

// Override för att se till så hela bilden syns i kortet.
// Den ursprungliga CSS:en som vi skriver över finns i filen card-profile.scss, rad 70.
.card-profile {
  &[data-background="full"] {
    .card-body {
      position: inherit;
      margin-bottom: 15px;
    }
  }
}

// Justera så att bakgrunden blir rätt när .navbar har klasserna navbar-light och bg-white
.navbar.navbar-light {
  &.bg-white {
    background-color: color("white") !important;
  }
}

// Blå navbar överallt och hela tiden
.navbar {
  padding-top: .5rem;
  padding-bottom: .5rem;

  &.bg-primary {
    background-color: theme-color("default") !important;
  }

  &.headroom--top {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

// Justeringsklasser för när header-image hamnar på ett sätt så viktiga delar försvinner under menyraden
.page-header {
  .page-header-image {
    &.page-header-image-align-top {
      background-position-y: top;
    }

    &.page-header-image-align-center {
      background-position-y: center;
    }

    &.page-header-image-align-bottom {
      background-position-y: bottom;
    }
  }
}

// Justeringar för kontaktsidan
.contactus-3 {
  // Epostadressen klipps av i värsta fall annars:
  overflow-x: visible;

  // Justera regler som gjorde att första bilden (loggan) sträcktes ut på höjden
  .bg-image {
    height: auto;
    width: unset;
  }
}

// Regler för skärmar bredare än 768px (surfplattor stående och uppåt)
@include media-breakpoint-up(md) {
  .contactus-3 {

    // Info-blocken med adress, epost och telefon
    .info {
      // Tar bort padding vä/hö på skärmar bredare än 768px för att epostadressen ska rymmas utan problem
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

// Regler för skärmar bredare än 992px (surfplattor liggande och uppåt)
@include media-breakpoint-up(lg) {
  .contactus-3 {

    // Första bilden på kontaktsidan (loggan)
    .bg-image {
      // Den här fanns i temat för att första bilden på kontaktsidan inte ska försvinna
      // under menyraden men den bet inte eftersom den var begränsad till en pricing-sida.
      margin-top: 5.74em !important;
    }
  }
}

// Regler för skärmar smalare än 576px (mobiler stående)
@include media-breakpoint-down(sm) {
  .contactus-3 {

    // Ändra ordningen på "korten" så att telefon kommer först om besökaren surfar på mobil.
    .info-cards {

      #info-phone {
        order: 1;
      }

      #info-mail {
        order: 2;
      }

      #info-address {
        order: 3;
      }
    }
  }
}